# Default ignored files
/../../TVET_Tasks_Project./.idea/shelf/
/../../TVET_Tasks_Project./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../TVET_Tasks_Project./.idea/httpRequests/
# Datasource local storage ignored files
/../../TVET_Tasks_Project./.idea/dataSources/
/../../TVET_Tasks_Project./.idea/dataSources.local.xml
